[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clidamonger"]
	path = clidamonger
	url = https://github.com/iwugermany/clidamonger
